Project-03-Customer-Segmentation/Customer Segmentation Workflow.json
{
  "name": "Customer Segmentation Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        0
      ],
      "id": "f408f08f-776b-443d-8fab-17c48877573b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77b71fd5-8f6c-415e-8203-529d0d839499",
              "name": "customerName",
              "value": "Bhavani",
              "type": "string"
            },
            {
              "id": "5b73c666-96d5-4d4e-9ed3-b52f8bd0e007",
              "name": "city",
              "value": "Hyderabad",
              "type": "string"
            },
            {
              "id": "c591fae4-e360-4074-9f5f-89b310391e2a",
              "name": "purchaseAmount",
              "value": 5000,
              "type": "number"
            },
            {
              "id": "d740d640-a505-408c-b2d4-a138cefef355",
              "name": "department",
              "value": "HR",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        0
      ],
      "id": "115e201e-ac44-48b2-8c40-eca6b5a99832",
      "name": "Customer data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a2d22180-017a-432c-adf5-215e164ba4f2",
              "leftValue": "={{ $json.purchaseAmount }}",
              "rightValue": 10000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        -16
      ],
      "id": "664d4403-0861-43aa-b175-7be216e5debd",
      "name": "check customer type",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6818ad70-9e75-4c9d-a7b4-cd7643289463",
              "name": "customerType",
              "value": "Premium",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -80
      ],
      "id": "7380b858-942c-42c1-8de3-02dcd3675df0",
      "name": "Premium customer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11840ee5-5935-4885-a124-f131be908c97",
              "name": "customerType",
              "value": "Regular",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        80
      ],
      "id": "1b0a11d5-d63f-4698-b56e-1596e02221ea",
      "name": "Reugular Customer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9da17b1-6021-4a7b-b9e5-dedbb87f7820",
              "name": "teamAssigned",
              "value": "IT Team",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        -176
      ],
      "id": "d117476f-25db-4de9-ade6-44fb049f80bb",
      "name": "IT Team"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d5be9da-54e9-40f9-8ee1-24be029f9ddc",
              "name": "teamAssigned",
              "value": "Finance Team",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        0
      ],
      "id": "11ff0b15-b4e2-4478-8ae6-fab5d5068241",
      "name": "Finance"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a27791f-5fe1-46f5-9ae1-4dd38a6a1c19",
              "name": "teamAssigned",
              "value": "HR Team",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        176
      ],
      "id": "303c9e1b-c20b-4c2c-a746-9ef54ea1439d",
      "name": "HR Team"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "IT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dc284117-f97d-419a-a148-713319b32555"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IT Team"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "67fa2425-f44a-4421-917c-30d3fee9ed18",
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "Finance",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Finance Team"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "77f67c61-799b-4642-8c02-35441828ffe1",
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "HR ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HR Team"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -672,
        -16
      ],
      "id": "8b477251-4ad4-448c-94df-601e599b7318",
      "name": "Department Routing"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Customer data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer data": {
      "main": [
        [
          {
            "node": "Department Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check customer type": {
      "main": [
        [
          {
            "node": "Premium customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reugular Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Department Routing": {
      "main": [
        [
          {
            "node": "IT Team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HR Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "66686b9c-6367-46c2-b3cf-4861c8cc2327",
  "meta": {
    "instanceId": "df90ae04ddd986792c0a3001b91a21bd70fc589ecbafd22fa3754354a603c075"
  },
  "nodeGroups": [],
  "id": "0nhwmiNP4QgjR6Ky",
  "tags": []
}